.login-bg{
    background-image: url('../img/work.jpg');
    background-size: cover;
    background-position: center;
}
.card li{
    margin-bottom:1.2rem ;
}
@media only screen and (max-width: 767px) {
    #helper {
      display: flex;
      justify-content: center;
    }
  }

  body{
    background-color:rgb(233, 238, 255);
  }
  li{
    cursor: pointer;
    color: gray;
  }

  .swal2-title {
    font-size: 1.2rem !important;
    font-family: Georgia, serif;
  }